.page {
	margin-bottom: 50px;
}

.main {
	margin-top: 20px;
}

.zero-width {
	    width: initial !Important;
}

.gobmx-docs-sidenav {
            border: 1px solid #eeeeee;
            float: right;
            margin-top: 64px;
            max-width: 260px;
            text-align: right;
        }

        .docs-nav li {
            border-top: 1px solid #eeeeee;
        }

        .docs-nav a {
            color: #263131;
            display: block;
            padding: 18px 30px;
            position: relative;
            text-decoration: none;
        }

            .docs-nav a:hover {
                background: #f6f6f6;
                text-decoration: none;
            }

            .docs-nav a.active {
                background: #eeeeee;
            }

                .docs-nav a.active:before {
                    display: block;
                }

        .docs-nav-logo {
            padding: 20px 0;
            text-align: center;
        }

            .docs-nav-logo a {
                display: block;
                margin-bottom: 7px;
            }

        .gobmx-docs-section {
            float: right;
            width: 960px;
        }

        .docs-nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .top-buffer {
            margin-top: 46px;
        }