.text-blue {
    color: #3C93CE !important;
}

.text-red {
    color: #933432 !important;
}

.text-green {
    color: #0A7C71 !important;
}

.text-yellow {
    color: #957D32 !important;
}

.text-black {
    color: #000000 !important;
}

.text-gray {
    color: #7A8994 !important;
}

.text-purple {
    color: #5B4D91 !important;
}